html { background: black; }
html, body, .text, .display {
  border: 0;
  margin: 0;
  padding: 0;
  color: #fafafa;
  text-align: center;
  vertical-align: middle;
  font-family: 'Press Start';
  z-index: 84;
  -webkit-font-smoothing: none;
  -webkit-user-select: none;
}

body { 
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  position: absolute;
  left: 0;
}

/*
 * Game objects
 */ 
.display {
  position: fixed;
  font-size: 21px;
}
.indisplay {
  margin: 7px 14px 0 14px;
  text-align: center;
  z-index: 14;
}
.indisplay.counter, .indisplay.seed {
  position: fixed;
  padding: 3px 7px;
  bottom: 0;
  background: rgba(0,0,0,.49);
}
.indisplay.counter { right: 0; }
.indisplay.seed{ left: 0; }

.text {
  position: absolute;
  z-index: 14;
  text-align: left;
  line-height: 210%;
  vertical-align: middle;
}
.text * {
  margin: 0;
}

.score {
  width: 35px;
  height: 14px;
  font-size: 21px;
  z-index: 14;
 }
 
/* Editor */

.editor #data_display {
  display: none;
}
 
/* Editor - Sidebar */
#sidebar {
  background: black;
  position: fixed;
  right: -322px;
  width: 343px;
  height: 100%;
  z-index: 96;
  border-left: 2px solid #ccc;
  transition: right 280ms;
}
#sidebar:hover , #sidebar.expanded { right: 0; }
#sidebar * {
  font-family: 'Press Start';
  line-height: 140%;
  color: #ddd;
}
#sidebar #sectionselect {
  font-size: 1.4em;
}
#sidebar h1 {
  font-size: 1.4em;
  padding-bottom: 14px;
  border-bottom: 2px solid #999;
}
#sidebar .group {
  padding: 7px;
  width: 100%;
  min-height: 70px;
  line-height: 175%;
}
#sidebar .group select , #sidebar .group input{
  padding-bottom: 3px;
  height: 21px;
  border: 1px solid #333;
  border-radius: 3px;
  background-color: black;
}
#sidebar #options {
  font-size: 17px;
}
/* For the Characters / Solids / Etc. dropdown */
#sidebar .options.big {
  padding-top: 3px;
  height: 28px;
  text-align: center;
  font-size: 21px;
}
/* General argument inputs */
#sidebar #options h3.title {
  margin-top: -21px;
  padding-right: 105px;
  border-bottom: 1px solid #777;
  text-align: right;
  font-size: 19px;
}
#sidebar #options input, #sidebar #options select {
  margin-top: -14px;
  padding: 3px;
  max-width: 175px;
  min-height: 24px;
  background: black;
  border: 1px solid #333;
  text-align: left;
}
#sidebar #options .auto {
  padding: 3px 7px;
  text-align: left;
}
#sidebar #options input[type=Number] {
  max-width: 63px;
}
/* Option labels */
#sidebar #options .optspan {
  margin-right: 3px;
  font-size: 14px;
  color: #aaa;
}
/* Stops the input after a label from being too high */
#sidebar #options .optspan + input {
  margin-top: -3px;
}
/* The #options td shenanigans */
#options tr td:first-of-type {
  text-align: right;
}
#options tr td:last-of-type {
  text-align: left;
}

/* Editor - Sidebar - Controls */
#controls {
  position: absolute;
  bottom: 0;
  right: 3px;
  transition: 70ms opacity;
}
.control {
  float: right;
  width: 64px;
  height: 64px;
  border: 2px solid #aaa;
  cursor: pointer;
  transition: 49ms opacity;
  opacity: .7;
}
.control:hover, .control.enabled { opacity: 1; }
.controltext {
  padding-top: 21px;
  font-size: 11px;
  opacity: .49;
}

/* Editor - Bottom Bar */
#bottombar {
  position: absolute;
  bottom: 68px; /* room for the controls */
  background: #111;
  transition: all 280ms, visibility 0;
  opacity: .7;
}
#bottombar:hover { 
  opacity: 1;
}
/* Each holder holds and frames a preview canvas (button) */
#bottombar .holder {
  float: left;
  width: 64px;
  height: 64px;
  border: 2px solid white;
  cursor: pointer;
  overflow: hidden;
}
#bottombar canvas {
  position: static;
  max-height: 100%;
}

/* Editor - Maplines */
#maplines {
  position: fixed;
  height: 100%;
  width: 100%;
  opacity: .49;
  border-left: 2px dashed #ddd;
  cursor: crosshair;
}
.mapline {
  position: fixed;
  padding: 1px;
  width: 100%;
  border-top: 2px dashed #eee;
  text-align: left;
  cursor: crosshair;
}

/* Erasing (cursor) */
#erasing canvas, .erasing #maplines, .erasing .mapline, .erasing #follower {
  cursor: url(Theme/EraserTip.gif), pointer;
}

/* The Editor Follower has the same cursor as the rest of the stuff */
#follower {
  cursor: crosshair;
}

/* Editor - Scrollers */

.scroller {
  position: fixed;
  width: 64px;
  height: 128px;
  opacity: .21;
  z-index: 7;
  cursor: none;
  background: url('Theme/Hand.gif') center center no-repeat;
}
.scroller:hover { opacity: .84; }
.scroller.off {
  display: none;
  visibility: hidden;
  z-index: -35;
}

.flipped {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}


/* Editor - Input Window */

/* Input window
*/
#input_window {
  position: fixed;
  height: 100%;
  padding-top: 42px;
  background: rgba(7,21,0,.84);
  /* border-color: 1px solid rgba(210,210,210,.8); */
  box-shadow: 0 0 210px rgba(0,0,1,.7) inset;
  z-index: 98;
}
#input_window textarea {
  margin-top: 35px;
  padding: 7px 21px 14px 28px;
  width: 100%;
  height: 50%;
  background-color: rgba(14, 14, 14, .77);
  background-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAGZmZv///yH5BAEAAAEALAAAAAABAAEAAAICRAEAOw==);
  background-repeat: repeat-y;
  background-position: 21px;
  border-width: 1px 0 1px 0;
  color: white;
  vertical-align: top;
  font-family: "Courier New", "Courier", monospace;
}
#input_window textarea:focus {
  outline: 0;
  border-color: gold;
}
#input_window .window_button {
  float: right;
  margin: 0 21px 0 0;
  padding: 11px;
  padding-bottom: 7px;
  border: 3px solid rgba(175,175,175,.7);
  border-top: 0;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  cursor: pointer;
}

#window_submit { 
  margin-right: 4%;
  background: rgba(14,70,14,.84);
  font-size: 21px;
}
#window_cancel {
  margin-right: 14px;
  background: rgba(70,14,14,.84);
}




/*
  Thanks so much to the people who worked to recreate the 8-bit fonts!
  Super Plumber Brothers: http://www.fontspace.com/category/mario
  Press Start: http://www.zone38.net/font/ (see Fonts/LICENSE-PS.txt)
*/

/* Press Start (2P) is used for the vast majority of in-game fonts *//*
@font-face {
    font-family: 'Press Start';
    src: url('Fonts/PressStart2P.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Super Plumber Bros is used for the main title screen in World 1-1 *//*
@font-face {
    font-family: 'Super Plumber Bros';
    src: url('Fonts/Super Plumber Brothers.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*/